.head_page_content .chicken_2,
.head_page_content .ros_m,
.head_page_content .los_mobile,
.head_page_content .bear_m {
  display: none;
}

.css-ub1r1 {
  font-size: 1rem !important;
}

.btn_link.m-auto {
  padding: 15px 50px;

  color: #ffffff;

  background: #d76729;

  width: auto;
}

.db_none_br {
  display: none;
}

.content_container {
  margin-bottom: 0px !important;
}

@media screen and (max-width: 768px) {
  .mobile-none {
    display: none;
  }

  label.h-jyt {
    width: 250px;
  }

  button.btn_asd {
    margin: 45px auto 0 !important;
  }

  .form_item label {
    font-weight: 500;

    font-size: 18px;

    line-height: 21px;

    text-transform: uppercase;

    font-feature-settings: "pnum" on, "lnum" on;

    color: #212121;
  }

  .form_item input::placeholder {
    font-size: 18px;

    line-height: 140%;

    display: flex;

    align-items: center;

    font-feature-settings: "pnum" on, "lnum" on;

    color: #8b8b8b;
  }

  .form_item input {
    font-size: 18px;

    line-height: 140%;

    display: flex;

    align-items: center;

    font-feature-settings: "pnum" on, "lnum" on;

    color: #212121;

    padding: 13px 25px;
  }

  button.btn_return {
    margin: 5px auto 25px;

    display: block;
  }

  .border_line.add_ticket {
    margin: 0 0;

    width: 100%;
  }

  .btn_link.m-auto.cnsl {
    padding: 15px 50px;

    margin-top: 15px !important;
  }

  .title_block {
    margin-bottom: 30px;
  }

  .blue .head_page_content h2,
  .brown .head_page_content h2 {
    margin-left: 8px;
  }

  .breadcrumb {
    font-family: Raleway;

    font-style: normal;

    font-weight: normal;

    font-size: 16px;

    line-height: 140%;

    font-feature-settings: "pnum" on, "lnum" on;
  }

  .pbt_img.right img {
    float: left;
  }

  .ticket_selection .pbt_r_b_title,
  .checkout .pbt_r_b_title {
    margin-bottom: 48px;
  }

  .pbt_img {
    margin-bottom: 20px;
  }

  .banner_text h3 {
    font-size: 45px;

    line-height: 110%;
  }

  .banner_content .reptile {
    display: none;
  }

  .banner_text {
    width: 326px;

    margin-top: 150px;
  }

  .banner {
    height: 335px;

    min-height: inherit;
  }

  .banner_content {
    padding: 0 5px;
  }

  .header {
    padding: 0px 20px;
  }

  .breadcrumb {
    margin-bottom: 50px;
  }

  .main {
    padding: 30px 0 50px;
  }

  .block_owl {
    padding: 20px 166px 20px 40px;
  }

  .accordion_content {
    padding: 0px 0px;
  }

  .accordion-header img {
    display: none;
  }

  .accordion-body {
    padding: 1rem 0rem;
  }

  .accept_block {
    width: 300px;

    margin: 0 auto;
  }

  section.allert {
    margin-bottom: 30px;
  }

  .pre_footer img {
    display: none;
  }

  .pre_footer {
    height: 50px;

    background: url(../images/bg/footer.png);
  }

  footer {
    padding: 40px 5px;
  }

  .footer_logo img {
    width: 140px;
  }

  .footer_links.mm_h2 {
    max-width: inherit;

    margin: 0;
  }

  .form-check-input {
    width: 44px;

    height: 35px;

    margin-right: 10px;
  }

  .check_block label {
    line-height: 21px;
  }

  .breadcrumb {
    margin-bottom: 80px;
  }

  .head_page_content .chicken_1 {
    display: none;
  }

  .blue .head_page_content img,
  .brown .head_page_content img {
    display: none;
  }

  .head_page_content .chicken_2 {
    display: block;

    width: 96px;
  }

  .blue .head_page_content .los_mobile {
    display: block;

    width: 100px;
  }

  .brown .head_page_content .bear_m {
    display: block;

    width: 100px;
  }

  .head_page_content h2 {
    font-size: 45px;

    line-height: 110%;

    margin-bottom: 22px;

    margin-left: 0;

    margin-right: 30px;
  }

  .breadcrumb-item:last-child {
    padding-left: 0;
  }

  .pbt_bl .form-check-input {
    width: 36px;

    height: 36px;

    margin-right: 10px;
  }

  .a_warning {
    left: 0px;

    width: 100%;
  }

  .border_line {
    padding: 20px 20px;
  }

  .pbt_img img {
    height: 400px;
  }

  .pbt_r_b .btns {
    position: inherit;
  }

  .ticket_item:not(:last-child) {
    margin-bottom: 60px;
  }

  .btn_link {
    width: initial;
  }

  .blue_bg h3 {
    font-size: 30px;

    line-height: 110%;

    width: 300px;
  }

  .blue_bg {
    position: relative;

    padding-top: 80px;
  }

  .blue_bg h4 {
    font-size: 18px;

    line-height: 120%;

    text-align: left;

    position: absolute;

    top: 0;
  }

  .ticket_selection_item td:first-child {
    position: absolute;

    top: -27px;

    width: 100%;

    left: 0;

    font-weight: 500;

    font-size: 18px;

    line-height: 21px;

    text-transform: uppercase;

    font-feature-settings: "pnum" on, "lnum" on;
  }

  .ticket_selection_item td:first-child span {
    font-size: 18px;

    line-height: 140%;

    float: right;

    text-transform: initial;
  }

  .ticket_selection_item {
    position: relative;

    margin-bottom: 65px;
  }

  .ticket_selection_item {
    padding: 17px 25px;
  }

  .ticket_selection_price {
    text-align: left;
  }

  .ticket_selection_content thead {
    display: none;
  }

  .pbt_r_b_title.bigest h4 {
    font-size: 25px;

    line-height: 31px;
  }

  .accordion-body .form-group {
    width: 100%;
  }

  .select-value {
    font-size: 16px;

    padding: 13px 20px;
  }

  .ticket_selection {
    padding: 50px 15px 38px 15px;
  }

  .form_item .hover_check label {
    width: 240px;
  }

  .checkout .form-check-input {
    width: 35px;

    height: 35px;

    margin-right: 10px;
  }

  .checkout .hover_check label {
    line-height: 18px;
  }

  .ticket_close {
    position: absolute;

    top: 13px;

    right: 13px;
  }
}

@media screen and (max-width: 425px) {
  .return_span1 {
    width: 100px;
  }
  .white_bird {
    display: none;
  }

  .btn_link.chose.m-auto {
    margin-top: 40px !important;
  }

  .row.mt-5 .title_block {
    margin-bottom: 40px;
  }

  .title_block {
    font-family: Source Sans Pro;

    font-style: normal;

    font-weight: bold;

    font-size: 25px;

    line-height: 31px;
  }

  .btn_link.m-auto {
    padding: 15px 50px;

    color: #ffffff;

    background: #d76729;
  }

  label.h-jyt {
    width: 250px;
  }

  button.btn_asd {
    margin: 45px auto 0 !important;
  }

  .form_item label {
    letter-spacing: initial;

    font-weight: 500;

    font-size: 18px;

    line-height: 21px;

    text-transform: uppercase;

    font-feature-settings: "pnum" on, "lnum" on;

    color: #212121;
  }

  .form_item input::placeholder {
    font-size: 18px;

    line-height: 140%;

    display: flex;

    align-items: center;

    font-feature-settings: "pnum" on, "lnum" on;

    color: #8b8b8b;
  }

  .form_item input {
    font-size: 18px;

    line-height: 140%;

    display: flex;

    align-items: center;

    font-feature-settings: "pnum" on, "lnum" on;

    color: #212121;

    padding: 13px 25px;
  }

  button.btn_return {
    margin: 5px auto 25px;

    display: block;
  }

  .border_line.add_ticket {
    margin: 0 0;

    width: 100%;
  }

  .btn_link.m-auto.cnsl {
    padding: 15px 50px;

    margin-top: 15px !important;
  }

  .title_block {
    margin-bottom: 30px;
  }

  .green .head_page_content img {
    display: none;
  }

  .blue .head_page_content .los_mobile {
    display: block;

    width: 100px;

    margin-bottom: -27px;

    margin-right: 10px;
  }

  .brown .head_page_content .bear_m {
    display: block;

    width: 115px;

    margin-bottom: -54px;

    margin-right: 15px;
  }

  .green .head_page_content .ros_m {
    display: block;

    width: 139px;

    margin-bottom: -9px;

    margin-right: 5px;
  }

  .blue .head_page_content h2,
  .brown .head_page_content h2 {
    margin-left: 8px;
  }

  .green .head_page_content h2 {
    font-family: Source Sans Pro;

    font-style: normal;

    font-weight: bold;

    font-size: 45px;

    line-height: 110%;

    margin-bottom: 20px;

    margin-left: 6px;

    margin-right: 18px;
  }

  .breadcrumb {
    font-family: Raleway;

    font-style: normal;

    font-weight: normal;

    font-size: 16px;

    line-height: 140%;

    font-feature-settings: "pnum" on, "lnum" on;
  }

  .breadcrumb-item {
    overflow-wrap: break-word;
  }

  /**/

  .rounded_circle {
    font-weight: 600;

    font-size: 16px;

    line-height: 19px;

    padding: 13px 16px;
  }

  .input_date_pos input:focus {
    background: #eef5e9 !important;
  }

  .block_content {
    padding: 0 7px;
  }

  #collapseTwo table {
    display: flex;

    justify-content: space-between;
  }

  #collapseTwo table tr {
    display: flex;

    flex-direction: column;
  }

  .banner.main_banner {
    background: url(../images/bg/mobile_bg.png) no-repeat center !important;

    background-size: cover !important;
  }

  .banner_text h3 {
    font-size: 45px;

    line-height: 110%;
  }

  .banner_content .reptile {
    display: none;
  }

  .banner_text {
    width: 326px;

    margin-top: 150px;
  }

  .banner {
    height: 335px;

    min-height: inherit;
  }

  .banner_content {
    padding: 0 5px;
  }

  .header {
    padding: 0px 20px;
  }

  .breadcrumb {
    margin-bottom: 50px;
  }

  .main {
    padding: 30px 0 100px;
  }

  .block_owl {
    padding: 20px 117px 20px 20px;
  }

  .pbt_bl label {
    width: 250px;
  }

  .accordion_content {
    padding: 0px 0px;
  }

  .pbt_r_b .btn_link {
    min-width: 127px;
  }

  .accordion-header img {
    display: none;
  }

  .accordion-body {
    padding: 1rem 0rem;
  }

  .accept_block {
    width: 300px;

    margin: 0 auto;
  }

  section.allert {
    margin-bottom: 30px;
  }

  form.container label {
    font-weight: 500;

    font-size: 18px;

    line-height: 21px;
  }

  form.container .form_item input {
    font-weight: normal;

    font-size: 18px;

    line-height: 140%;

    padding-left: 25px;
  }

  .pre_footer img {
    display: none;
  }

  .pre_footer {
    height: 50px;

    background: url(../images/bg/footer.png);
  }

  footer {
    padding: 40px 5px;
  }

  .ticket_item {
    padding-left: 15px;

    padding-right: 15px;
  }

  .footer_logo img {
    width: 140px;
  }

  .footer_links.mm_h2 {
    max-width: inherit;

    margin: 0;
  }

  .form-check-input {
    width: 36px;

    height: 36px;

    margin-right: 10px;
  }

  .check_block label {
    line-height: 21px;
  }

  .accept_block .check_block label {
    line-height: 21px;

    width: 200px;
  }

  .breadcrumb {
    margin-bottom: 45px;
  }

  .head_page_content .chicken_1 {
    display: none;
  }

  .head_page_content .chicken_2 {
    display: block;

    width: 96px;
  }

  .head_page_content h2 {
    font-size: 45px;

    line-height: 110%;

    margin-bottom: 22px;

    margin-left: 0;

    margin-right: 30px;
  }

  .breadcrumb-item:last-child {
    padding-left: 0;
  }

  .pbt_bl .form-check-input {
    width: 36px;

    height: 36px;

    margin-right: 10px;
  }

  .pbt_bl {
    margin-bottom: 50px;
  }

  .tickets {
    margin-top: 40px;
  }

  .a_warning {
    left: 0px;

    width: 100%;
  }

  .border_line {
    padding: 20px 20px;
  }

  .pbt_img img {
    height: 300px;
  }

  .pbt_r_b .btns {
    position: inherit;
  }

  .ticket_item:not(:last-child) {
    margin-bottom: 60px;
  }

  .btn_link {
    width: initial;
  }

  .blue_bg h3 {
    font-size: 30px;

    line-height: 110%;

    width: 300px;
  }

  .blue_bg {
    position: relative;

    padding-top: 80px;
  }

  .blue_bg h4 {
    font-size: 18px;

    line-height: 120%;

    text-align: left;

    position: absolute;

    top: 0;
  }

  .ticket_selection_item td:first-child {
    position: absolute;

    top: -27px;

    width: 100%;

    left: 0;

    font-weight: 500;

    font-size: 18px;

    line-height: 21px;

    text-transform: uppercase;

    font-feature-settings: "pnum" on, "lnum" on;
  }

  .ticket_selection_item td:first-child span {
    font-size: 18px;

    line-height: 140%;

    float: right;

    text-transform: initial;
  }

  .ticket_selection_item {
    position: relative;

    margin-bottom: 65px;
  }

  .ticket_selection_item {
    padding: 17px 25px;
  }

  .ticket_selection_price {
    text-align: left;
  }

  .ticket_selection_content thead {
    display: none;
  }

  .pbt_r_b_title.bigest h4 {
    font-size: 25px;

    line-height: 31px;
  }

  .accordion-body .form-group {
    width: 100%;
  }

  .select-value {
    font-size: 16px;

    padding: 13px 37px 13px 20px;
  }

  .ticket_selection {
    padding: 50px 15px 38px 15px;
  }

  .form_item .hover_check label {
    width: 240px;
  }

  .checkout .form-check-input {
    width: 35px;

    height: 35px;

    margin-right: 10px;
  }

  .checkout .hover_check label {
    line-height: 18px;
  }

  .ticket_close {
    position: absolute;

    top: 13px;

    right: 13px;
  }

  .btn_link.m-auto {
    min-width: 216px;
  }

  .payment {
    font-weight: bold;

    font-size: 25px;

    line-height: 31px;

    margin-bottom: 45px;
  }

  .select-arrow {
    right: 8px;
  }

  .ticket_selection .pbt_r_b_title,
  .checkout .pbt_r_b_title {
    margin-bottom: 70px;
  }

  .content_container {
    margin-bottom: 0px !important;
  }

  .container {
    padding: 0 20px !important;
  }

  .ticket_items.form_item {
    margin-bottom: 15px;
  }

  .checkout .form-check-input {
    padding: 0;
  }

  .banner_text.main_br h3 {
    font-family: Source Sans Pro;

    font-style: normal;

    font-weight: bold;

    font-size: 45px;

    line-height: 110%;

    margin: 0 0;
  }

  .banner.regulations {
    height: 400px;

    background: url(../images/modile_reg.png) !important;

    background-size: cover !important;
  }

  .accordion_content table tbody tr {
    text-align: right;
  }

  .pbt_r_b_top {
    display: block;
  }

  .pbt_r_b_item {
    display: inline-block;

    margin-top: 5px;
  }

  .pbt_r_b_top img {
    display: inline-block;
  }

  .pbt_r_b_top p {
    display: inline-block;
  }

  .pbt_r_b_item:nth-child(4) img {
    width: 13px;
  }

  .blue .head_page_content h2 {
    margin-right: 13px;
  }

  .d_none_br {
    display: block;
  }

  .block_owl p {
    width: 195px;
  }

  .form-check-input:hover {
    border: 2px solid #007db5;
  }

  .form-check:hover input {
    border: 2px solid #007db5;
  }

  .accordion {
    padding: 0 20px;
  }

  .form-check .form-check-label {
    width: 250px;
  }

  .footer_text p {
    font-family: Raleway;

    font-style: normal;

    font-weight: normal;

    font-size: 18px;

    line-height: 140%;
  }

  .footer_links li h3 {
    font-family: Source Sans Pro;

    font-style: normal;

    font-weight: bold;

    font-size: 28px;

    line-height: 35px;
  }

  .footer_links.mm_h {
    width: initial;
  }

  .footer_text {
    max-width: initial;
  }

  .breadcrumb.mfa,
  .back_to {
    margin-bottom: 50px;
  }

  .content_text {
    width: 320px;
  }

  .border_line:hover {
    border: 2px solid #007db5;

    color: #007db5;
  }

  .db_none_br {
    display: block;
  }
}

@media screen and (max-width: 363px) {
  .banner_text {
    width: 100%;
  }

  .border_line.add_ticket {
    padding: 16px 5px;
  }

  .rounded_circle {
    font-weight: 600;

    font-size: 13px;

    line-height: 19px;

    padding: 13px 10px;

    width: 100%;
  }
}
