@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-ExtraBold.woff2") format("woff2"),
    url("../fonts/Raleway-ExtraBold.woff") format("woff"),
    url("../fonts/Raleway-ExtraBold.ttf") format("truetype"),
    url("../fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraLight.eot");
  src: url("../fonts/Raleway-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-ExtraLight.woff2") format("woff2"),
    url("../fonts/Raleway-ExtraLight.woff") format("woff"),
    url("../fonts/Raleway-ExtraLight.ttf") format("truetype"),
    url("../fonts/Raleway-ExtraLight.svg#Raleway-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway-Bold.woff") format("woff"),
    url("../fonts/Raleway-Bold.ttf") format("truetype"),
    url("../fonts/Raleway-Bold.svg#Raleway-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Black.eot");
  src: url("../fonts/Raleway-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Black.woff2") format("woff2"),
    url("../fonts/Raleway-Black.woff") format("woff"),
    url("../fonts/Raleway-Black.ttf") format("truetype"),
    url("../fonts/Raleway-Black.svg#Raleway-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Light.eot");
  src: url("../fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Light.woff2") format("woff2"),
    url("../fonts/Raleway-Light.woff") format("woff"),
    url("../fonts/Raleway-Light.ttf") format("truetype"),
    url("../fonts/Raleway-Light.svg#Raleway-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.eot");
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Medium.woff2") format("woff2"),
    url("../fonts/Raleway-Medium.woff") format("woff"),
    url("../fonts/Raleway-Medium.ttf") format("truetype"),
    url("../fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Regular.woff2") format("woff2"),
    url("../fonts/Raleway-Regular.woff") format("woff"),
    url("../fonts/Raleway-Regular.ttf") format("truetype"),
    url("../fonts/Raleway-Regular.svg#Raleway-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.eot");
  src: url("../fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-SemiBold.woff2") format("woff2"),
    url("../fonts/Raleway-SemiBold.woff") format("woff"),
    url("../fonts/Raleway-SemiBold.ttf") format("truetype"),
    url("../fonts/Raleway-SemiBold.svg#Raleway-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Thin.eot");
  src: url("../fonts/Raleway-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Thin.woff2") format("woff2"),
    url("../fonts/Raleway-Thin.woff") format("woff"),
    url("../fonts/Raleway-Thin.ttf") format("truetype"),
    url("../fonts/Raleway-Thin.svg#Raleway-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  position: relative;
  font-family: "Raleway", sans-serif !important;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 23px 40px;
  position: relative;
  margin-bottom: -150px;
  z-index: 9;
}

.nav-link {
  color: #ffffff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin-left: 38px;
}

img {
  width: 100%;
}

.nav {
  align-items: center;
}

.banner {
  min-height: 500px;
  background-size: cover !important;
  position: relative;
}

.banner_text {
  width: 463px;
  margin-top: 200px;
}

.banner_content {
}

.banner_content .reptile {
  bottom: 0;
  float: left;
  width: 113px;
  height: 234px;
  position: absolute;
}
.banner_content .white_bird {
  bottom: 0;
  float: left;
  width: 158px;
  height: 200px;
  position: absolute;
}
.banner_content .reptile img {
  width: 100%;
}

.banner_text h3 {
  color: #ffffff;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 95%;
}

.breadcrumb {
  background: #ffffff;
  margin-bottom: 100px;
}

.breadcrumb-item a {
  color: #007db5;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
}

.breadcrumb-item.active {
  color: #212121;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: none;
}

.main {
  padding: 50px 0 100px;
}

.content_item {
  position: relative;
  padding-left: 40px;
  margin-bottom: 30px;
}

.title_block {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  color: #212121;
  margin-bottom: 23px;
}
.title_block_m {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  color: #212121;
  margin-bottom: 23px;
}
.content_item p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  margin: 0;
}

.content_text {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  margin: 0 0 40px 0;
}

.content_item img {
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 20px;
}

footer {
  padding: 31px 0;
  background: #007db5;
}

.block_owl {
  margin-top: 30px;
  position: relative;
  padding: 20px 125px 20px 40px;
  background: #fff9ed;
  border-radius: 20px;
  max-width: 460px;
}

.block_owl p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #212121;
}

.block_owl:after {
  position: absolute;
  width: 85px;
  height: 160px;
  right: 1px;
  top: -24px;
  content: "";
  background: url(../images/icons/owl.svg) no-repeat center;
}

.footer_logo img {
  width: 120px;
}

.footer_icons {
  margin: 24px 0;
  display: flex;
}

.footer_icons a {
  width: 36px;
  display: block;
  margin-right: 24px;
}

.footer_text {
  margin-bottom: 24px;
  max-width: 220px;
}

.footer_text p {
  color: #fff9ed;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.footer_links {
  margin: 0 0 0 0;
  padding: 0;
}

.footer_links li {
  list-style: none;
  margin-bottom: 15px;
}

.footer_links li h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
}

.footer_links li p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #fff9ed;
  line-height: 140%;
}

.footer_links li a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #fff9ed;
}

.footer_links.mm_h {
  max-width: 184px;
}

.footer_links.mm_h2 {
  max-width: 276px;
  margin: 0 auto;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url(../images/icons/plus.svg);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  margin-top: -19px;
  background-image: url(../images/icons/minus.svg);
  transform: rotate(-180deg);
}

.accordion-button {
  border: none;
  background: none;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  color: #212121;
  padding: 10px 0;
}

.accordion-button:focus {
  z-index: 3;
  border: none;
  outline: 0;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: inherit;
  background-color: inherit;
  box-shadow: none;
}

.accordion-item {
  margin-bottom: 15px;
  border-radius: 20px !important;
  padding: 20px 30px;
  border: none;
  min-height: 90px;
}

.accordion-item.bg_blue {
  background: #c5e5ed;
}

.accordion-item:first-of-type {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.accordion-item.bg_green {
  background: #eef5e9;
}

.accordion-header img {
  width: 50px;
  margin-right: 20px;
}

.accordion-header {
  margin-bottom: 0;
  display: flex;
}

.accordion_content {
  padding: 0px 50px;
}

.accordion {
  max-width: 960px;
  margin: 100px auto;
}

.accordion_content p {
  color: #212121;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 25px;
}

.accordion_content ul {
  margin-bottom: 25px;
}

.accordion_content li {
  color: #212121;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}

.accordion_content span {
  color: #212121;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}

section.allert {
  background: #fff9ed;
  padding: 56px 0;
  margin-bottom: 50px;
}

section.allert .content_block {
  max-width: 900px;
}

.form-check-input {
  background: #ffffff;
  border: 2px solid #007db5;
  box-sizing: border-box;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  outline: none;
  box-shadow: none;
  margin: 0 15px 0 0;
}

.form-check-input:hover {
  border: 2px solid #d76729;
}

.form-check-input:focus {
  border: 2px solid #007db5;
  outline: 0;
  box-shadow: none;
}

.form-check-input:checked[type="checkbox"] {
  background-image: url(../images/icons/typcn_tick.svg);
  background-position: center;
}

.form-check-input:checked {
  background-color: #ffffff;
  border-color: #007db5;
}

.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.form-check .form-check label {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #212121;
}

.form-check label a {
  color: #007db5;
}

.btn_link {
  width: 203px;
  height: 50px;
  background: #8b8b8b;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.btn_link.buy_ticket {
  margin: 45px auto;
}

.accept_block_2 .btn_link.buy_ticket {
  margin: 0;
}

.btn_link:hover {
  color: #ffffff;
}

.accept_block_2 {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.footer_logo {
  margin-top: -10px;
}

.buy_ticket.st_1.st_2,
.buy_ticket2.st_2 {
  color: #007db5;
  /* background: #d76729; */
  background-color: #fff;
  border: 1px solid #007db5;
}

.buy_ticket.st_1.st_2:hover,
.buy_ticket2.st_2:hover {
  color: #fff;
  background: #d76729;

  border: 1px solid #d76729;
}

.head_page {
  width: 100%;
  height: 300px;
  background: #4f95bd;
  display: flex;
  align-items: end;
}
.head_page.green {
  background: #88bf57;
}
.head_page_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head_page_content img {
  width: 105px;
}

.head_page_content h2 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 95%;
  color: #ffffff;
  margin-left: 48px;
  margin-bottom: 40px;
}

.header.page_w01 {
  background: none;
}

.pbt_bl {
  /* max-width: 460px; */
}

.pbt_bl h4 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #212121;
  margin-bottom: 14px;
}

.pbt_bl p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #212121;
}

.pbt_r_b_title.bigest h4 {
  font-size: 28px;
}

.btn {
  padding: 20px 30px;
  border: 2px solid #ddd;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.border_line {
  border: 2px solid #007db5;
  color: #007db5;
  margin-right: 18px;
  margin-left: 0;
  padding: 23px 30px;
}

.border_line[disabled]:hover {
  border: 2px solid #d76729 !important;
  color: #d76729 !important;
}

.border_line.active {
  background: #d76729;
  border: 2px solid #d76729;
  color: #ffffff;
}
.border_line:hover {
  border: 2px solid #d76729;
  color: #d76729;
}
.border_line.active:hover {
  color: #ffffff;
}

.btn.orange_btn {
}

.btns {
  margin-bottom: 20px;
}

input.input_date {
  border: 2px solid #eef5e9;
  padding: 20px 35px 20px 25px;
  width: 100%;
  background: #eef5e9;
  border-radius: 20px;
  box-shadow: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #212121;
  margin-bottom: 15px;
}

.pbt_img img {
  width: 100%;
  border-radius: 20px;
  max-width: 460px;
}

.pbt_img.right img {
  float: right;
}

.pbt_r_b_top {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.pbt_r_b_top p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #005d90;
  margin: 0;
  transform: translateY(2px);
}

.pbt_r_b_top img {
  max-width: 20px;
  margin-right: 10px;
}
.loading_img {
  margin: 15px;
  width: 70px;
}
.pbt_r_b_item {
  display: flex;
  margin-right: 15px;
  align-items: flex-end;
}

.pbt_r_b_title {
  margin-bottom: 22px;
}

.pbt_r_b_title h4 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  color: #212121;
}

.pbt_r_b_cont {
}

.pbt_r_b_cont p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #212121;
}

button.btn_link {
  border: none;
}

.btn_link.chose {
  background: #d76729;
}
.btn_link.chose:hover {
  background: #007db5;
  color: #ffffff;
}
.tickets {
  margin-top: 100px;
}

.ticket_item:not(:last-child) {
  margin-bottom: 100px;
}

.pbt_r_b {
  height: 100%;
  position: relative;
  width: 100%;
  max-width: 670px;
}

.pbt_r_b .btns {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}

.input_date_pos {
  position: relative;
}

/* .input_date_pos:after {
  content: "";
  right: 24px;
  width: 30px;
  height: 30px;
  position: absolute;
  background: url(../images/icons/calnedar.svg);
  top: 18px;
  z-index: 1;
  pointer-events: none;
} */

.pbt_r_b_cont ul {
  padding-left: 21px;
}

.pbt_r_b_cont ul li {
  padding-bottom: 10px;
  position: relative;
  list-style: none;
  font-size: 18px;
}

.pbt_r_b_cont ul li:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #88bf57;
  left: -21px;
  top: 7px;
  border-radius: 50%;
}

.blue_bg {
  padding: 25px 0;
  background: #005d90;
  min-height: 150px;
  margin-top: 100px;
}

.blue_bg h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 95%;
  color: #ffffff;
  margin: 0;
}

.blue_bg h4 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  text-align: right;
  color: #ffffff;
  margin: 0;
  margin-top: 14px;
}
.ticket_selection {
  padding: 50px 15px 85px 15px;
}
.ticket_selection_content {
  width: 100%;
  margin-top: 0;
}
.ticket_selection_content.accordion {
  max-width: 100%;
}
.ticket_selection_content .cart_num {
  background: none;
  border: none;
  text-align: center;
  width: 30px;
  outline: none;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  color: #212121;
}
.ticket_selection_item {
  padding: 17px 40px;
  display: block;
  min-height: inherit;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  color: #212121;
  border-radius: 20px;
  margin-bottom: 15px;
  /* cursor: pointer; */
}
.ticket_selection_item td,
.ticket_selection_item th {
  /*width: 180px;*/
  display: inline-block;
}
.ticket_selection_price {
  text-align: center;
  min-width: 100px;
}
.ticket_selection_count {
  text-align: right;
  float: right;
}
.ticket_selection_count button {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0;
  width: 20px;
  height: 20px;
}
.ticket_selection_count .btn_minus {
  margin-right: 24px;
}
.ticket_selection_count .btn_plus {
  margin-left: 24px;
}
.ticket_selection_item.head {
  padding: 0px 40px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.ticket_selection_name {
  min-width: 46%;
}
.ticket_selection_name span {
  font-weight: 400;
}
.ticket_selection_item.zebra:nth-child(odd) {
  background: #c5e5ed;
}
.ticket_selection_item.zebra:nth-child(even) {
  background: #eef5e9;
}
.ticket_selection .pbt_r_b_title,
.checkout .pbt_r_b_title {
  margin-bottom: 14px;
}
.form-control {
  background-color: #fff9ed;
  border: 2px solid #fff9ed;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  border: 2px solid #e13838;
  padding-right: calc(1.5em + 0.75rem);
  background-image: none;
  box-shadow: none;
  color: #212121;
  background-color: #fff9ed;
}
.form-control:focus {
  color: #212121;
  background-color: #fff9ed;
  border: 2px solid #007db5;
  outline: 0;
  box-shadow: none;
}
.form-control.is-valid,
.was-validated .form-control:valid {
  background-color: #fff9ed;
  border: 2px solid #fff9ed;
  padding-right: calc(1.5em + 0.75rem);
  background-image: none;
}
.form_item {
  margin-bottom: 30px;
}
.form-control::placeholder {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #8b8b8b;
}
.form_item label {
  margin-bottom: 15px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #212121;
}
.form_item .hover_check label {
  margin-bottom: 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  color: #8b8b8b;
  line-height: inherit;
  text-transform: none;
  letter-spacing: normal;
}
.payment {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  color: #212121;
  margin-bottom: 40px;
  margin-top: 55px;
}
.w_0 {
  display: none !important;
}
.ticket_selection_item.head th {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #212121;
  /* margin-bottom: 10px; */
}
.ticket_selection_item .accordion-body {
  padding: 28px 0 28px;
}
.ticket_selection_item .accordion-body p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
  margin-bottom: 35px;
}
.rounded_circle {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
  padding: 15px 30px;
  text-align: center;
  display: inline;
  border: 2px solid #212121;
  box-sizing: border-box;
  border-radius: 25px;
}
.form-check.relative {
  position: relative;
}
.a_warning {
  padding: 27px 52px 27px 30px;
  background: #c5e5ed;
  border-radius: 20px 20px 20px 0px;
  position: absolute;
  bottom: 100%;
  left: 30px;
  width: 400px;
  z-index: 2;
  display: none;
}
.a_warning > img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.close_this {
  position: absolute;
  width: 30px;
  height: 30px;
  content: "";
  cursor: pointer;
  background: url(../images/icons/close_normal.svg) no-repeat center;
  top: 10px;
  right: 10px;
}
.a_warning p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #212121;
  margin: 0;
}
.a_warning.active {
  display: block;
  z-index: 9;
}
.pbt_bl.r_bl {
  max-width: inherit;
}
.accordion-body .form-group {
  width: 420px;
  display: inline-grid;
  margin-right: 40px;
  padding-bottom: 24px;
}
.accordion-body .form-group label {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #212121;
  margin-bottom: 10px;
}
.accordion-body .form-group select.form-select {
  /* background: #ffffff; */
  border-radius: 25px;
  padding: 12px 30px;
  border: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #212121;
}
.relative_b {
  position: relative;
}
.relative_b:after {
  position: absolute;
  width: 35px;
  height: 35px;
  background: url(../images/icons/normal.svg) no-repeat center;
  right: 20px;
  top: 8px;
  content: "";
}
.form-select.is-invalid:not([multiple]):not([size]),
.form-select.is-invalid:not([multiple])[size="1"],
.was-validated .form-select:invalid:not([multiple]):not([size]),
.was-validated .form-select:invalid:not([multiple])[size="1"] {
  border: 2px solid #e13838;
  padding-right: calc(1.5em + 0.75rem);
  background-image: none;
  box-shadow: none;
  color: #212121;
  background-color: #fff9ed;
}
.form-select.is-valid:not([multiple]):not([size]),
.form-select.is-valid:not([multiple])[size="1"],
.was-validated .form-select:valid:not([multiple]):not([size]),
.was-validated .form-select:valid:not([multiple])[size="1"] {
  border-color: #198754;
  padding-right: calc(1.5em + 0.75rem);
  background-image: none;
}

.form-group.select .invalid-feedback {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #e13838;
}
.form-check-input.is-valid:checked,
.was-validated .form-check-input:valid:checked {
  background-color: #fbfbfb;
}
input.input_date:focus {
  outline-offset: 0px;
  border: 2px solid #007db5;
  outline: none;
}
.container.tab-content > .active {
  display: flex;
}
.container.fade {
  display: none;
}
.cancel_this {
  margin-bottom: 16px;
  width: 30px;
  height: 30px;
  content: "";
  cursor: pointer;
  background: url(../images/icons/Union.svg) no-repeat center;
}
.form-check.relative label {
  color: #8b8b8b;
}
.form-check.relative label.active {
  color: #212121;
}
.banner.regulations .banner_text {
  width: 100%;
}
.green .head_page_content h2 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 95%;
  color: #ffffff;
  margin-left: 48px;
  margin-bottom: 14px;
}
.green .head_page_content img {
  width: 160px;
}
.border_line.add_ticket {
  border-radius: 30px;
  padding: 16px 30px;
  margin-top: 38px;
}
.form_item input {
  min-height: 55px;
}
.form-check-input {
  min-height: inherit !important;
}
.ticket_item {
  position: relative;
}

.ticket_close {
  text-align: right;
}
.ticket_close > img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

input.css-1uvydh2,
.MuiFormControl-root input {
  border: 2px solid #eef5e9 !important;
  padding: 0px 35px 0px 25px !important;
  height: 66px !important;
  width: 100%;
  background: #eef5e9 !important;
  border-radius: 20px;
  box-shadow: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #212121;
  margin-bottom: 15px;
}
input.css-1uvydh2:focus,
.MuiFormControl-root input:focus {
  color: #212121;
  background-color: #fff9ed !important;
  border: 2px solid #007db5 !important;
  outline: 0 !important;
  box-shadow: none !important;
}
/* button.css-slyssw {
  position: absolute;
  background: blanchedalmond;
  width: 40px;
  height: 40px;
} */
.css-1bn53lx.MuiOutlinedInput-root {
  padding-right: 0 !important;
}
.MuiFormControl-root {
  background: none !important;
  width: 100%;
}
.pbt_img img {
  height: 460px;
  object-fit: cover;
}

.border_line:disabled {
  border: 2px solid #ddd;
  color: #ddd;
  opacity: 1;
  background-color: #fff;
}
table.accordion {
  margin: 0;
}
.form-select {
  position: relative;
  background-image: none;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 0;
  border: 2px solid transparent;
}
.form-select:hover {
  border: 2px solid #007db5;
}

.select-options {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  left: 0;
  padding: 20px 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 120%;
  z-index: 1;
  border: 1px solid #c5e5ed;
}
.select-option {
  padding: 10px 30px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #212121;
  cursor: pointer;
  position: relative;
}
.selected::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("/assets/images/icons/select_normal.svg");
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.selected:hover:after {
  background-image: url("/assets/images/icons/select_hover.svg");
}
.select-option:hover {
  color: #007db5;
}
.select-value {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  font-feature-settings: "pnum" on, "lnum" on;

  color: #212121;
  cursor: pointer;
  padding: 13px 30px;
}
.select-value:hover {
  color: #007db5;
}
.select-arrow {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 8px;
  right: 22px;
  pointer-events: none;
  transition: 0.3s;
}
.blue_bg .col-lg-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
input {
  outline: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff9ed !important; /* Цвет фона */
  -webkit-text-fill-color: #212529 !important; /* цвет текста */
  color: #212529 !important; /* цвет текста */
}

.remove_this {
  position: absolute;
  width: 10px;
  height: 10px;
  background: url(../images/icons/close.svg) no-repeat center;
  right: 14px;
  top: 2px;
  cursor: pointer;
}
.head_page.brown {
  background: #7f4b1d;
}
.head_page.blue {
  background: #005d90;
}
.brown .head_page_content img {
  width: 192px;
}
.blue .head_page_content img {
  width: 166px;
}
button.btn_return {
  display: inline-block;
  background: #ffffff;
  border: 2px solid #005d90;
  color: #005d90;
  margin-right: 18px;
  padding: 13px 50px 15px 50px;
  width: inherit;
}
.btn_return:hover {
  background: #d76729;
  border: 2px solid #d76729;
  color: #ffffff;
}
.btn_return.orange_btn.btn_link {
  background: #ffffff;
  border: 2px solid #007db5;
  color: #007db5;
}
.btn_return.btn_link {
  background: #d76729;
  border: 2px solid #d76729;
  color: #ffffff;
}
.simple_date:after {
  right: 15px;
  top: 12px;
}
.ticket_items {
  position: relative;
}
button.btn_asd {
  margin: 30px auto 0;
}
button:focus {
  outline: none;
  box-shadow: none !important;
}
.ticket_items label {
  font-family: "Source Sans Pro";
  font-size: 18px;
}
.form-check:hover input {
  border: 2px solid #d76729;
}
.form-check-input:checked[type="checkbox"] {
  background-repeat: no-repeat !important;
}
.container.checkout {
  padding: 0 5px !important;
}
.back_to {
  display: flex;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  align-items: center;
  margin-bottom: 60px;
  /* 6_сияние_1 */

  color: #007db5;
}
.back_to img {
  width: 26px;
  margin-right: 24px;
}
.breadcrumb.mfa {
  margin-bottom: 60px;
}
.col-xl-6.col-xxl-5.col-lg-8.col-md-10 .btns .btn_return.btn_link {
  border: 2px solid #007db5;
  color: #007db5;
  background: #ffffff;
}
.col-xl-6.col-xxl-5.col-lg-8.col-md-10 .btns .btn_return.btn_link:hover {
  border: 2px solid #d76729;
  color: #d76729;
  background: #ffffff;
}
.form_item input.form-check-input {
  background: #ffffff;
  border: 2px solid #007db5;
  padding: 0;
  background-color: #ffffff !important;
}

.return_span1 {
  display: inline-block;
  width: 20px;
}
.modal_body {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
.modal_body:before {
  background: #005d90;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.modal_content {
  width: 600px;
  position: relative;
  background: #fff9ed;
  border-radius: 20px;
  padding: 28px 90px 3px 30px;
}
.modal_close {
  position: absolute;
  top: 26px;
  right: 26px;
  width: 30px;
  height: 30px;
}
.modal_title {
  /*font-family: Iskra;*/
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #212121;
  margin-bottom: 25px;
}
.modal_text {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #212121;
  margin-bottom: 25px;
}

.purchase_modal {
  background-image: url(../images/modal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.change_modal {
  background-image: url(../images/modal_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.link_to_back img {
  width: 26px;
  margin-right: 24px;
}
.breadcrumb-item a.link_to_back {
  display: flex;
  align-items: center;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #007db5;
}
.breadcrumb.kar {
  margin-bottom: 60px;
}
.accept_block_2{
  margin-top: 35px;
}
.accept_block_2 .btn_link.buy_ticket{
  width: initial;
  padding-left: 50px;
  padding-right: 50px;
}