.css-nnbavb {
  display: none !important;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root,
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input,
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  padding: 0 !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.m_label_1,
.m_label_2 {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.m_label_1 {
  background: #4f95bd;
}
.m_label_2 {
  background: #d76729;
}
.css-144dnr3-MuiBadge-badge {
  gap: 2px;
}
.css-1smlk3z-MuiPaper-root {
  background: #eef5e9 !important;
  border-radius: 20px !important;
  padding: 35px 25px;
}
.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root {
  background-color: transparent !important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background: #88bf57 !important;
}
.css-195y93z-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  background: #eef5e9 !important;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  color: black !important;
  background: #88bf57 !important;
}
.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root:hover {
  background: #e4e4e4 !important;
}
